h1{
	font-family: arial;
	font-size: 50pt;
	color: gray;
	text-align: left;
}
body{
	background-image: url('https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/s720x720/391715_1592129660994_1768481042_806861_758332477_n.jpg');
}

